/* CSS Document */
.mover{position:absolute; background:url(../images/sucker.png) repeat; width:478px; height:148px; display:none; overf(1-8) Low:hidden; float:left; margin-left:-119px;}
.mover3{position:absolute; background:url(../images/sucker.png) repeat; width:479px; height:148px; display:none; overf(1-8) Low:hidden; float:left; margin-top:-148px; margin-left:-119px;}
.weehoo{border:#747474 1px solid; width:718px; float:left; margin-left:5px;}
